<button (click)="layOutDay([ {start: 30, end: 150},{start: 50, end: 300},{start: 400, end: 450}, {start: 540, end: 600}, {start: 610, end: 670} ])">click</button>
<div>
  <div style="display: inline-flex;">
    <div class="timeline">
      <ul class="timeList">
        <li>9:00 <span class="time">AM</span></li>
        <li>9:30</li>
        <li>10:00 <span class="time">AM</span></li>
        <li>10:30</li>
        <li>11:00 <span class="time">AM</span></li>
        <li>11:30</li>
        <li>12:00 <span class="time">PM</span></li>
        <li>12:30</li>
        <li>1:00 <span class="time">PM</span></li>
        <li>1:30</li>
        <li>2:00 <span class="time">PM</span></li>
        <li>2:30</li>
        <li>3:00 <span class="time">PM</span></li>
        <li>3:30</li>
        <li>4:00 <span class="time">PM</span></li>
        <li>4:30</li>
        <li>5:00 <span class="time">PM</span></li>
        <li>5:30</li>
        <li>6:00 <span class="time">PM</span></li>
        <li>6:30</li>
        <li>7:00 <span class="time">PM</span></li>
        <li>7:30</li>
        <li>8:00 <span class="time">PM</span></li>
        <li>8:30</li>
        <li>9:00 <span class="time">PM</span></li>
      </ul>
    </div>
    <div class="schedule">
      <ul *ngIf="timeslot.length > 0">
        <div *ngFor="let a of timeslot">
          
        <li class="positioner" style="width: {{a.width}}; top: {{a.ev}}px; height: {{a.height}}px;left: {{a.left}}"> 
           </li>
        </div>
        </ul>
        </div>
  </div>
</div>